*{
    box-sizing: border-box;
}
body{
    background: purple;
}
.container{
    margin: 200px auto;
    width: 100px;
    height: 100px;
    perspective: 500px;
}
.cube{
    position: absolute;
    transform-style: preserve-3d;
    animation: render 5s ease infinite;
    transition:  10s ease-in-out;
}
@keyframes render{
    40%{
        transform:rotateX(360deg);
    }
    60%{
        transform: rotateY(360deg);
    }
}
.side{
    position: absolute;
    width: 300px;
    height: 300px;
    border: 10px solid;
    text-align: center;
    line-height: 300px;
    font-size: 40px;
    color: black;
}
.top{
    transform: translateZ(150px);
    background: darkseagreen;
}
.bottom{
    transform: rotateY(180deg)translateZ(150px);
    background: dimgray;
}
.right{
    transform: rotateY(90deg)translateZ(150px);
    background: mediumorchid;
}
.left{
    transform: rotateY(-90deg)translateZ(150px);
    background: darkcyan;
}
.front{
    transform: rotateX(90deg)translateZ(150px);
    background: lemonchiffon;
}
.back{
    transform: rotateX(90deg)translateZ(-150px);
    background: cornflowerblue;
}




